h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding: 10px;
  border: 3px solid;
  border-radius: 15px;
  width: 300px;
  text-align: left;
  background-color: #ffefd5;
}

.border-pink {
  border-color: #ff69b4;
}

.border-green {
  border-color: #90ee90;
}

.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.waterings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 10px;
}

p {
  margin-bottom: 5px;
  margin-top: 0px;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.spot {
  margin-bottom: 10px;
}
