ul {
  display: flex;
  flex-direction: column;
}

.room {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: medium;
}

.spot {
  margin-bottom: 15px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: papayawhip;
  border-radius: 15px;
}

.addSpotPage {
  display: flex;
  flex-direction: row;
}

h2 {
  margin-bottom: 15px;
  font-size: x-large;
  font-weight: 600;
}

.registeredPlaces {
  margin-right: 30px;
}
