.navbar {
  border-style: dashed;
  border-width: 5px;
  border-color: aqua;
  padding: 10px;
  width: 400px;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}
